<%= simple_form_for(@multiple_choice_question) do |f| %>

<div class="form-inputs">
	<%= f.input :title %>
	<%= f.input :prompt, input_html: {:style => "height: 200px"} %>
	<%= f.input :correct_answer %>
	<%= f.input :wrong_answers, hint: "separate wrong answers with commas" %>
	<%= f.input :category, :collection => mc_categories %>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>